* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calc-container {
  display: grid;
  grid-template-columns: repeat(4, 4.5rem);
  grid-template-rows: repeat(4, 4.5rem);
}

.calc-button,
.calc-button-equal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  border: thin solid rgba(0, 0, 0, 0.486);
  list-style: none;
  border-radius: 1rem;
  transition: 0.25s;
  user-select: none;
}

.calc-button:active,
.calc-button-equal:active {
  height: 4.15rem;
  width: 4.15rem;
  filter: invert(0.5);
}

.calc-button-equal {
  background-color: #f05e9c;
}

#input {
  width: calc(4rem * 4);
  height: 2rem;
  border: thin solid rgba(0, 0, 0, 0.486);
  font-size: 1rem;
  font-weight: bold;
  padding: 0.25rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  filter: brightness();
}

.calculator {
  position: relative;
  border-radius: 1rem;
  background-color: white;
  padding: 1rem;
}
